.starship-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: .5rem 0;
}

.starship-item{
    width: 60%;
    margin: .5rem 0;
    background-color: #151515;
    color: darkgray;
    text-align: start;
    padding-left: 1rem;
}

.starship-name{
    text-transform: uppercase;
}