.login {
    font-size: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
}

.login input {
    padding: .5rem;
    border-radius: .3rem;
    border: none;
}

.login p {
    margin: .5rem;
}

.login a {
    margin: 0 .5rem;
}

.login button {
    font-size: 1.2rem;
    background-color: gray;
    color: white;
    padding: .5rem 2rem;
    cursor: pointer;
    border-radius: .3rem;
    border: none;
    margin: .5rem 0;
}

.login button:hover {
    background-color: #404040;
}