.navbar{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-header{
    /* background-color: gray; */
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    padding-top: 2rem;
}

.nav-logo{
    height: 10vmin;
}

.nav-links{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-links > a {
    color: lightgray;
    text-decoration: none;
}
.nav-links > a:hover {
    color: white;
}